.adv_paragraph {
  position: relative;
  padding: 0 1vw;
  line-height: $general-line-height;
  font-size: $middle-font;
  color: $light-grey-text;
  text-align:  justify;
  vertical-align: text-top;

  @include xl {
    height: 10vw;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

