.first_offer { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 0.5fr 0.5fr;

  @include xl {
    &__advertising:hover {
      height: 120%;
      padding-bottom: 2vw;
    }

    &__advertising:hover::after {
      top: 97%;
    }
  }

  &__bicycle_bg {
    display: none;

    @include lg {
      display: flex;
      grid-area: 1 / 1 / -1 / 3;
      background: url(../img/section_bg_wheel.png) center center no-repeat;
      background-size: cover;
    }
  }

  &__bicycle_company_bg {
    display: none;

    @include lg {
      display: block;
      margin: auto;
      width: 113px;
      height: 118px;
      background: url(../img/bicycle_company.png) center center no-repeat;
      background-size: cover;
    }
  }

  &__advertising {
    position: relative;
    height: 100%;
    grid-area: 1 / 1 / 3 / -1;

    @include lg {
      grid-area: 1 / 3 / 3 / -1;
    }

    @include xl {
      transition: 0.5s linear;
    }
  }

  &__seat_bg {
    grid-area: 3 / 1 / -1 / -1;
    background: url(../img/article_bg_seat.png) center center no-repeat;
    background-size: cover;

    @include lg {
      grid-area: 3 / 3 / -1 / -1;
    } 
  }
}