.form_container {
  display: flex;
  padding: 0 2%;
  flex-direction: column;

  @include md {
    flex-direction: row;
  }

  &__input_mail {
    margin-bottom: 2%;
    width: 100%;
    padding-left: 15px;
    height: 69px;
    border: 1.5px solid $border-iput;

    @include md {
      margin-bottom: 0;
      margin-right: 2%;
      max-width: 400px;
    }
  }

  &__button_mail {
    position: relative;
    height: 69px;
    color: white;
    font-weight: bold;
    background: $green-text;
    border: 0;
    cursor: pointer;
    padding: 0 10%;

    @include md {
      &::after {
        content: '';
        position: absolute;
        width: 80px;
        height: 42px;
        top: 19%;
        left: 17%;
        border: 1px solid white;
        opacity: 0;
        transition: all 0.3s linear;
      }

      &:hover::after {
        opacity: 1;
        transform: scale(1.4);
      }
    }
    
  }
}