.headline {
  position: relative;
  text-align: center;
  font-size: $big-font;
  font-weight: bold;
  color: $black-text;

  &:before {
    content: '';
    position: absolute;
    left: 41%;
    top: -17vw;
    width: 52px;
    height: 43px;
    background: url(../img/chain.png) no-repeat center center;

    @include rwd(400) {
      top: -300%;
    }
  }
}
