.intro {
  padding: 35vw 0 15vw;
  background-color: $grey-bg;

  @include rwd(500) {
    padding: 27vw 0 15vw;
  }

  @include sm {
    padding: 23vw 0 13vw;
  }

  @include md {
    padding: 17vw 0 10vw;
  }

  @include lg {
    padding-top: 15vw;
  }

  @include xl {
    padding: 13vw 0 10vw;
  }
}