.labels {
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid $dark-grey-switch;
  background-color: $grey-bg;
}

#btn_one:checked ~ .slider__switch .label_one {
  background: $dark-grey-switch;
}

#btn_two:checked ~ .slider__switch .label_two {
  background: $dark-grey-switch;
}

#btn_three:checked ~ .slider__switch .label_three {
  background: $dark-grey-switch;
}