.link_shop_now {
  position: relative;

  &:hover::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 98px;
    height: 55px;
    background: url(../img/icon_shop_now.png) center center no-repeat;
    transform: translate(-50%, -50%);

    
  }

  &:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background: url(../img/shop_hover.png) center center no-repeat;
    background-size: cover;
  }
}