.nav {
  display: flex;
  justify-content: space-between;

  &__navgroup {
    display: flex;
    align-items: center;
    font-size: $mobile-font;
    font-weight: bold;
    list-style-type: none;

    @include sm {
      font-size: $the-smallest-font;
    }
  }

  &__item {

    &--decor {
      margin: 0 3vw;
    }
  }

  &__item-link {
    position: relative;
    text-decoration: none;
    color: $grey-text;

    &::after {
      content: '';
      position: absolute;
      top: -40px;
      left: -12px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      border: 1px solid $grey-text;
      background-color: $grey-text;
      transition: all 0.2s linear;
      opacity: 0;
    }

    &:hover::after {
      top: 5px;
      opacity: 1;
    }
  }

  &__logo {
    display: inline-block;
    margin: 0 5vw;
    max-width: 94px;
    width: 15vw;
    align-self: flex-start;
  }

  &__logo-img {
   width: 100%;
   height: auto;
 }
}