.navgroup {
  display: flex;
  align-items: center;
  font-size: $the-smallest-font;
  font-weight: bold;
  list-style-type: none;

  & li:first-child {
    text-align: center;
  }

  & li:nth-child(2) {
    margin: 0 3vw;
  }
}