::-webkit-input-placeholder {
  color: #b7b7b7;
  font-size: $big-font;
  font-style: italic;

}

::-moz-placeholder {
  color: #b7b7b7;
  font-size: $big-font;
  font-style: italic;
}

:-moz-placeholder {
  color: #b7b7b7;
  font-size: $big-font;
  font-style: italic;
}

:-ms-input-placeholder {
  color: #b7b7b7;
  font-size: $big-font;
  font-style: italic;
}