.social_container {
  display: flex;

  &__social_link {
    display: inline-block;
    max-width: 35px;
    width: 100%;
    margin-right: 3%;

    img {
      width: 100%;
      height: auto;
    }

    @include md {
      margin-right: 6%;
    }
  }
}