.social_container {
  display: flex;

  &__social_link {
    display: inline-block;
    max-width: 35px;
    width: 100%;
    margin-right: 3%;

    @include md {
      margin-right: 6%;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }
}